<% layout('layouts/head') %>

<h1>Edit <%= job.title %></h1>
<form action="/jobs/<%= job._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Job Title</label>
    <input type="text" id="title" name="job[title]" value="<%= job.title %>" />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="job[location]"
      value="<%= job.location %>"
    />
  </div>
  <button>Update Job</button>
</form>
<a href="/jobs">All Jobs</a>
<a href="/jobs/<%= job._id %>">Back to <%= job.title %></a>
